.container {
}
#slider {
   width: 245px;
   height: 99px;
   border: 2px solid black;
   margin: 0px auto;
   // overflow: hidden;
   position: relative;
}
.slide-single {
   height: 99px;
   width: 245px;
   position: absolute;
   // transition: all ease 1s;
   left: 0;
   top: 0;
}

.slider-prev,
.slider-next {
   background: rgb(219, 219, 219);
   width: 100px;
   height: 40px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 22px;
   border-radius: 4px;
   margin: 20px;
}
